<component name="ArtifactManager">
  <artifact type="war" name="springBatch_readProcessWrite:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_webapp.war">
      <element id="artifact" artifact-name="springBatch_readProcessWrite:war exploded" />
    </root>
  </artifact>
</component>